<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ site.url }}{{ site.baseurl }}" class="logo"><strong>{{ site.title-bold }}</strong> <span>{{ site.title-normal }}</span></a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
		<li><a href="index.md">{{ Home }}</a></li>
	 	<li><a href="about.md">{{ About }}</a></li>
	</ul>
	<ul class="actions vertical">
		<li><a href="#" class="button special fit">1</a></li>
		<li><a href="#" class="button fit">2</a></li>
	</ul>
</nav>
